<div class="bodyContent">
    <div class="salonProfile" th:if="${salon}">
        <div class="row">
            <div class="salonImage">
                <img th:src="@{/images/salon_image.png}" alt="Salon image"/>
            </div>
            <div class="salonName">
                <h1 th:text="${salon.getName()}"><i class="ri-heart-line"></i></h1>
            </div>

        </div>
        <div class="row">
            <i class="ri-map-pin-line"></i>
            <p class="salonLocation" th:text="${salon.getLocation()}"></p>
            <p class="salonRating"><i class="fas fa-star"></i> <span th:text="${salonStats.getRating()}"></span> (<span
                    th:text="${salonStats.getNumberOfReviews()}"></span> <span
                    th:text="${salonStats.getNumberOfReviews() > 1 ? 'reviews': 'review'}"></span>)</p>
        </div>
    </div>

    <h1>Потврда</h1>
    <div class="confirmationBox">

        <div class="employee">
            <div class="employeeImage">
                <img src="../images/salon_image.png" alt="Barber image"/>
            </div>
            <div class="employeeName">
                <h2 th:text="${employee.getBaseUser().getFirstName() + ' ' + employee.getBaseUser().getLastName()}"></h2>
            </div>
            <p class="employeeRating"><i class="fas fa-star"></i> <span th:text="${salonStats.getRating()}"></span>
                (<span
                        th:text="${employeeStats.getNumberOfReviews()}"></span> <span
                        th:text="${employeeStats.getNumberOfReviews() > 1 ? 'reviews': 'review'}"></span>)</p>
        </div>
        <div class="treatmentInfo">
            <div class="treatmentInfoItem" th:text="'Датум: ' + ${#temporals.format(timeSlot, 'dd.MM.yyyy')}"></div>
            <div class="treatmentInfoItem" th:text="'Почеток: ' + ${#temporals.format(timeSlot, 'HH:mm')}"></div>
            <div class="treatmentInfoItem" th:text="'Услуги: ' + ${treatment.getName()}"></div>
            <div class="treatmentInfoItem">Тип на коса: Летна</div>
            <div class="treatmentInfoItem" th:text="'Траење на третман: '+${20 * treatment.getDurationMultiplier()}+' минути'"></div>
            <br>
            <div class="treatmentInfoItem totalPrice"
                 th:text="'Вкупна цена: ' + ${treatment.getPrice()} + ' ден'"></div>
            <br>
            <div class="treatmentInfoItem">
                <form action="/appointments/create" method="post">
                    <input type="hidden" name="salon" th:value="${salon.getId()}">
                    <input type="hidden" name="treatment" th:value="${treatment.getId()}">
                    <input type="hidden" name="employee" th:value="${employee.getId()}">
                    <input type="hidden" th:value="${timeSlot}" name="time">
                    <!--                    <input type="hidden" value=1 name="customerId">-->
                    <button class="confirmationButton primaryButton">Потврди</button>
                </form>

            </div>
        </div>

    </div>

</div>