<header class="header" id="header">
  <nav class="nav container">
    <div>
      <a href="/" class="nav__logo">
        <img src="@" alt="Logo image">
        Logo
      </a>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">
            <i class="ri-arrow-right-up-line"></i>
            <span>Messaging</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            <i class="ri-arrow-right-up-line"></i>
            <span>Notifications</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            <i class="ri-arrow-right-up-line"></i>
            <span>Log in</span>
          </a>
        </li>
      </ul>

      <!-- Close button -->
      <div class="nav__close" id="nav-close">
        <i class="ri-close-large-line"></i>
      </div>

    </div>

    <!-- Toggle button -->
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-menu-line"></i>
    </div>
  </nav>
</header>